auto-save-list
bookmarks
eshell
init.el~
init.org~
recentf
*backups
ido.last
elpa
melpa
init.elc
url
/init.tex
emacs/.emacs.d/projectile-bookmarks.eld
projectile.cache
smex-items
*smex.save
tmp
request
.mc-lists.el
/transient
